body {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.foodList {

    display: flex;
    flex-wrap: wrap;
    

}

section {

    border-style: solid;
    border-color: red;
    margin: 8px;
}